extends layout

block content
	div.container
		#user
			h1.text-center.login-title Welcome #{user.firstName}. Check your details below:
				div.signup-wall
					ul.user-details
						li Username ---> #{user.username}
						li Email    ---> #{user.email}
						li First Name ---> #{user.firstName}
						li Last Name ---> #{user.lastName}
				a(href='/hello', class='text-center new-account') Say Hello
				a(href='/signout', class='text-center new-account') Sign Out
				#message
				if message
					h1.text-center.error-message #{message}
